# Data files
data/1_raw/
data/2_intermediate/
data/3_processed/
data/*.zip

# Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Local documentation and chat exports
cursor-chats-exports/

#Test notebooks
*test*.ipynb

# Local tests
test.ipynb

# Historical
historical/

# Results
results/

# Tests
src/graph_construction/*.ipynb