# Data files
data/1_raw/
data/3_processed/
data/*.zip

# Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Reports - assuming they are generated
reports/*.pdf
reports/*.html

# Local documentation and chat exports
cursor-chats-exports/

# Local tests
*.ipynb

# Historical
historical/

# Results
results/